.crew {
  height: 100vh;
  width: 100vw;
  background: center / cover no-repeat
    url("../data/assets/crew/background-crew-desktop.jpg");
}


@media screen and (max-width: 70rem) {
    .crew {
      background: center / cover no-repeat
        url("../data/assets/crew/background-crew-tablet.jpg");
    }
}
@media screen and (max-width: 43rem) {
    .crew {
      background: center / cover no-repeat
        url("../data/assets/crew/background-crew-mobile.jpg");
    }
}