.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-top: 2.5rem;
  /* position: relative; */
}

/* Left Side */
.header img {
  width: 2em;
  height: 2em;
  margin-left: 3.43rem;
}

/* Right Side */

.nav-burger-toggle {
  display: none;
}

/* Blur Bar */
.primary-nav-box {
  display: flex;
  align-items: center;
  width: 58%;
  height: 96px;
  /* padding: 1rem 0; */
  background-color: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);
}

.primary-nav-box-phone{
  display: none;
  background-color: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);
  height: 100vh;
  position: fixed;
  z-index: 1000;
  inset: 0 0 0 100%;
  top:0 ;
  opacity: 0;
  transition: opacity 500ms linear, inset 750ms ease-in-out;
}

.primary-nav::before {
  content: "";
  width: 58%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -55%;
  transform: translateY(-50%);
  z-index: 20;
  background: hsl(var(--clr-white));
}

/* ul */
.primary-nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap:5vw;
  margin-left: 7%;
}

.primary-nav li {
  display: inline-block;
  font-size: var(--fs-nav);
  letter-spacing: var(--letter-spacing-nav);
  padding: 2.4rem 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

.primary-nav li:hover {
  /* height: 3px; */
  border-bottom: 2px solid hsl(var(--clr-white) / 0.5);
  /* background: hsl(var(--clr-white) / .5); */
}

.primary-nav li:active {
  border-bottom: 2px solid hsl(var(--clr-white));
}

.primary-nav a:focus {
  border-bottom: 2px solid hsl(var(--clr-white));
}
.primary-nav span {
  font-weight: 700;
  margin-right: 0.7em;
}

@media screen and (max-width: 70rem) {
  .header {
    padding-top: 0;
    height: 96px;
  }

  .header img {
    width: 2em;
    height: 2em;
    margin: 2.3rem 1.5rem;
  }

  .primary-nav::before {
    display: none;
  }

  .primary-nav-box {
    width: 60vw;
    min-width: 580px;
    justify-content: center;
  }

  .primary-nav {
    padding-left: 0;
    margin: 0;
  }

  .primary-nav li:first-child {
    margin-left: 0;
  }

  .primary-nav li {
    font-size: var(--fs-sh2);
    /* margin-left: 1.2rem; */
  }

  .primary-nav span {
    display: none;
  }
}

@media screen and (max-width: 43rem) {
  .header img {
    width: 2em;
    height: 2em;
    margin: 1.5rem;
  }

  .nav-burger-toggle {
    display: block;
    background-color: transparent;
    border: none;
    z-index: 20000;
    width: 1.5rem;
    height: 1.5rem;
    margin: 1.5rem;
  }

  .burger{
    background-image: url('../../data/assets/shared/icon-hamburger.svg');
    background-repeat: no-repeat;
  }
  .close{
    background-image: url('../../data/assets/shared/icon-close.svg');
    background-repeat: no-repeat;
  }

  .primary-nav-box {
    display: none;
    justify-content: initial;
    align-items: initial;
    position: fixed;
    z-index: 1000;
    height: 100vh;
  }

  .primary-nav-box img {
    width: 100%;
    aspect-ratio: 1;
  }

  .isOpen{
    display: block;
    inset: 0 0 0 30%;
    opacity: 1;
    background-color: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
    /* right: 0; */
  }

  .primary-nav-box-phone{
    display: block;
         }

  .primary-nav-phone {
    flex-direction: column;
    align-items: flex-start;
    padding: min(20vh, 10rem) 2rem;
    gap:6vh
  }

  .primary-nav li {
    margin-left: 0;
    padding: .5rem 0;
  }

  .primary-nav span {
    display: inline;
    font-size: var(--fs-nav);
  }
}
