@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap");
/* --------------------- */
/* Root                */
/* --------------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-h1: 9.375rem; /* Heading 1 150px */
  --fs-h2: 6.25rem; /* Heading 2  100px */
  --fs-h3: 3.5rem; /* Heading 3 56px */
  --fs-h4: 2rem; /* Heading 4  32px  */
  --fs-h5: 1.75rem; /* Heading 5  28px*/
  --fs-sh1: 1.75rem; /* Sub Heading 1  28px*/
  --fs-sh2: 0.875rem; /* Sub Heading 2  14px*/
  --fs-nav: 1rem; /* Nav 16px*/
  --fs-body: 1.125rem;  /* Heading 5  28px*/

  /* Character Space */
  --letter-spacing-1: 0.296em; /* Heading 5  4.75*/
  --letter-spacing-2: 0.147rem; /* Sub Heading 2  2.35*/
  --letter-spacing-nav: 0.17rem; /* Nav  2.7*/

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

h1 {
  font-size: var(--fs-h1);
  color: hsl(var(--clr-white));
  text-transform: uppercase;
}

h2 {
  font-size: var(--fs-h2);
  color: hsl(var(--clr-white));
  text-transform: uppercase;
}

h3 {
  font-size: var(--fs-h3);
  color: hsl(var(--clr-white));
  text-transform: uppercase;
}

h4 {
  font-size: var(--fs-h4);
  color: hsl(var(--clr-white));
  text-transform: uppercase;
}

h4 {
  font-size: var(--fs-h4);
  color: hsl(var(--clr-white));
  text-transform: uppercase;
}

h5 {
  font-size: var(--fs-h5);
  color: hsl(var(--clr-white));
  text-transform: uppercase;
}

nav {
  font-size: var(--fs-nav);
  color: hsl(var(--clr-white));
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-nav);
}

p{
  font-size: var(--fs-body);
  color: hsl(var(--clr-white));
}

/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/* Body */
body {
  line-height: 1.5;
  min-height: 100vh;
  font-size: var(--fs-body);
}

/* Images */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
